@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../../styles/color";

:root {
  /* FONT SIZE */
  --fs-xxs: #{$fs-xxs};
  --fs-xs: #{$fs-xs};
  --fs-sm: #{$fs-sm};
  --fs-md: #{$fs-md};
  --fs-lg: #{$fs-lg};
  --fs-xl: #{$fs-xl};
  --fs-xxl: #{$fs-xxl};
  --fs-heading-1: #{$fs-heading-1};
  --fs-heading-2: #{$fs-heading-2};
  --fs-heading-3: #{$fs-heading-3};
  --fs-heading-4: #{$fs-heading-4};
  --fs-heading-5: #{$fs-heading-5};
  --fs-heading-6: #{$fs-heading-6};

  /* LINE HEIGHT */
  --lh-xxl: #{$lh-xxl};
  --lh-xl: #{$lh-xl};
  --lh-lg: #{$lh-lg};
  --lh-md: #{$lh-md};
  --lh-sm: #{$lh-sm};
  --lh-xs: #{$lh-xs};
  --lh-xxs: #{$lh-xxs};

  /* FONT WEIGHT */
  --fw-bold: #{$fw-bold};
  --fw-semibold: #{$fw-semibold};
  --fw-normal: #{$fw-normal};
  --fw-light: #{$fw-light};
}

.typography {
  &__base {
    font-family: "Roboto", sans-serif;
  }

  &__italic {
    font-style: italic;
  }

  &__bold {
    font-weight: bold;
  }

  &__color {
    &--primary {
      color: var(--color-typography-primary);
    }

    &--paragraph {
      color: var(--color-typography-light);
    }
  }
}
