@import "../base/typography";

.lite-ui__heading {
  &--h1 {
    font-size: var(--fs-heading-1);
    line-height: var(--lh-xxs);
  }
  &--h2 {
    font-size: var(--fs-heading-2);
    line-height: var(--lh-xs);
  }
  &--h3 {
    font-size: var(--fs-heading-3);
    line-height: var(--lh-sm);
  }
  &--h4 {
    font-size: var(--fs-heading-4);
    line-height: var(--lh-md);
  }
  &--h5 {
    font-size: var(--fs-heading-5);
    line-height: var(--lh-lg);
  }
  &--h6 {
    font-size: var(--fs-heading-6);
    line-height: var(--lh-xl);
  }
}
